body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 60px;
    background-color: #f0f0f0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#mensaje {
    margin-top: 20px;
    font-size: 18px;
}

button:hover:not(:disabled) {
    background-color: #007BFF;
    color: #fff;
}

button:disabled:hover {
    background-color: #ccc;
}